/* Navbar */
.navbar-nav a {
    font-size: 18px;
}

.justify-content-end.navbar-collapse.collapse {
    width: min-content;
}

/* Products */
.product_img {
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .background {
        height: 230px;
    }
}